<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Presentacion.My.MySettings.cn" connectionString="Data Source=DESKTOP-A0LTNSD;Initial Catalog=db2;Persist Security Info=True;User ID=sa;Password=alex.com12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>